:root {
  --slide-duration: 0.3s;
}

.step-content {
  transition: all var(--slide-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

  .step-content.inactive {
    pointer-events: none;
  }

.slide-in-from-right {
  animation: slideInFromRight var(--slide-duration) ease-in-out forwards;
}

.slide-in-from-left {
  animation: slideInFromLeft var(--slide-duration) ease-in-out forwards;
}


.slide-out-left {
  animation: slideOutLeft var(--slide-duration) ease-in-out forwards;
}

.slide-out-right {
  animation: slideOutRight var(--slide-duration) ease-in-out forwards;
}


@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* :root {
  --slide-duration: 200ms;
  --slide-distance: 30px;
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(var(--slide-distance));
}

.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease-in-out;
}

.slide-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-left-exit-active {
  opacity: 0;
  transform: translateX(calc(-1 * var(--slide-distance)));
  transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease-in-out;
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(calc(-1 * var(--slide-distance)));
}

.slide-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease-in-out;
}

.slide-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-right-exit-active {
  opacity: 0;
  transform: translateX(var(--slide-distance));
  transition: opacity var(--slide-duration) ease-in-out, transform var(--slide-duration) ease-in-out;
} */